<% if (title) { %>
    <h1 class="main-h"><%= title %></h1>
    <%- messages() %>
    <!-- Potential Login Error Display -->
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
      
    <!-- ends here -->

    <% } else {
     res.redirect('/')
    } %>
<%# loginForm %>

<div id="loginForm">
    <form action="/account/login" method="post">
        <label class="top">Email:
            <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">
        </label>

        <label class="top">Password:
            <span class="requirement">Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
            <input type="password" name="account_password" id="accountPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        </label> 
        
        <input type="submit" value="Login" class="submitBtn">
    </form>
    <p>No account?<a href="/account/register">Sign-up</a>
</div>