<% if (title) { %>
    <h1 class="main-h"><%= title %></h1>
    <%# messages() %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

    <% } else {
     res.redirect('/')
    } %>

<div id="add-classi">
    <form action="/inventory/add-classification" method="post">
        <label class="top">Classification Name:
            <input type="text" id="classificationName" name="classification_name" minlength="3" required>
        </label>
        <input type="submit" value="Add a classification" class="submitBtn">
    </form>
</div>