<% if (title) { %>
    <h1 class="main-h"><%= title %></h1>
    <%- messages() %>
    <% } else {
     res.redirect('/')
    } %>

<%# itemDetailsTemplate %>
<p id="add-classification" class="add-item"><a href="/inventory/add-classification">Add New Classification</a></p>
<p id="add-vehicles" class="add-item"><a href="/inventory/add-inventory">Add New Vehicles</a></p>
